@import 'colors.css';

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;

  background-color: var(--hlx-color-dialog);
  
  font-family: sans-serif;
  font-size: 14px;
  color: white;
}

.hlx-header {
  padding: 10px;
  background-color: var(--hlx-color-dialog);
}

.hlx-header h1 {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: bold;
}

a:any-link {
  color: var(--hlx-color-link);
}

a:hover {
  text-decoration: underline;
  color: var(--hlx-color-hover);
}

#recommendations {
    display: grid;
    grid-template-columns: 50px 150px 300px 30% 1fr;
    gap: 2px;
}

@media print {
  #recommendations {
    grid-template-columns: 50px 150px 150px 150px 1fr;
  }
}

.recommendation {
    display: contents;
}

.recommendation > * {
    padding: 10px;
    border-bottom: 1px solid var(--hlx-color-border);
}

.recommendation-header {
    text-transform: uppercase;
    font-weight: bold;
}

.recommendation-category {
    color: var(--hlx-color-marker);
}

.recommendation-text p {
    margin: 0;
    padding-right: 10px;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.recommendation-element {
    font-family: monospace;
    background: rgba(0,0,0,0.2);
    padding: 8px;
    margin: 0;
    overflow-x: hidden;
}

.recommendation-time {
    color: var(--hlx-color-marker);
    font-size: 0.9em;
    font-family: monospace;
    text-align: right;
}

.recommendation-element textarea {
    width: 100%;
    height: 80px;
    font-family: monospace;
    background: rgba(0,0,0,0.2);
    padding: 8px;
    border: none;
    color: var(--hlx-color-marker);
}

.recommendation-url {
    overflow-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
}